<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAPI Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="resources.Listeners"/>
    </listeners>

    <test name="E-Commerce API Tests">
        <classes>
            <class name="ECommerceAPITest"/>
        </classes>
    </test>

    <test name="OAuth API Tests">
        <classes>
            <class name="oAuthTest"/>
        </classes>
    </test>

    <test name="Data Driven Tests">
        <classes>
            <class name="dataDrivenExcel"/>
        </classes>
    </test>

</suite>
